body{
    font-family: "Roboto", Helvetica, Arial;
    font-weight: 600;
    font-size: 14px;
    font-feature-settings: palt;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
    height: 100%;
}
a, a:visited, a:hover, a:active {
    color: inherit;
}